body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}

header {
    background: #0857A0;
    color: #fff;
    padding: 10px 0;
}

header .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 2em;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 0 20px; /* Optional padding */
    overflow-y: auto;
}

.story-list {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 15px;
}

.story-item {
    margin-bottom: 10px;
}

.story-item a {
    display: block;
    padding: 10px;
    background-color: #81A5F1;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.story-item a:hover {
    background-color: #81A5F1;
}


/* Container for the image */
.image-container {
    width: 98%; /* Full width of the parent element */
    height: 60vh; /* 30% of the viewport height */
    overflow: hidden; /* Hide overflow if the image is larger */
    position: relative; /* Positioning context for the image */
}

/* Style for the image */
.image-container img {
    position: absolute; /* Remove the image from the normal document flow */
    top: 0; /* Align the image to the top of the container */
    left: 0; /* Align the image to the left of the container */
    width: 100%; /* Make the image fill the container's width */
    height: 100%; /* Make the image fill the container's height */
    object-fit: cover; /* Ensure the image covers the container while maintaining its aspect ratio */
}


footer {
    background: #0857A0;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    
}
